body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 1.5;
  size: 3rem;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 1.5;
  size: 3rem;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Navigation Brand */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  /* line-height: 1.5; */
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Ubuntu";
  font-size: 1.2rem;
  font-weight: lighter;
}

/* Download Button */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 20rem;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Features Section  */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  /* z-index: 1; */
}

.features-box {
  font-family: "Ubuntu";
  text-align: center;
  padding: 5%;
}

/* Features Icons */
.features-icon {
  color: #ef8172;
  /* font-size: 4rem; */
  padding-bottom: 1rem;
}

.features-icon:hover {
  color: #ff4c68;
}

/* testimonials-section */
#testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}

.testimonials-image {
  /* height: 20%; */
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing Section*/

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

.btn-block {
  width: 100%;
}

/* Call the action section */
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.action-text {
  font-family: "Montserrat";
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

/* Footer section */
#footer {
  text-align: center;
  padding: 7% 15%;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    /* width: 20rem; */
    transform: rotate(0);
    position: static;
    /* right: 25%; */
  }
}
